$mainRedColor: #be7676
$mainRedColor2: #b46257
$redText: #933535
$greenText: #1e4a27
body
	font: 2rem "Exo 2", sans-serif
	min-width: 320px
	position: relative
	max-width: 1920px
	margin: 0 auto
	color: #000
	overflow-x: hidden
h1,h2,h3,h4,h5,h6,ul,body,p
	margin: 0
ul
	padding: 0
	list-style-type: none
a
	text-decoration: none
a.popup
	display: block
.relative
	position: relative
button
	border: none
	background: none
.white_btn
	border: solid 1px #fff
	-webkit-border-radius: 20px
	-moz-border-radius: 20px
	-ms-border-radius: 20px
	-o-border-radius: 20px
	border-radius: 20px
	width: 100%
	max-width: 370px
	padding: 11px 0 15px
	text-align: center
	transition: all .3s
	&:hover

.blue_btn
	text-shadow: 0 -1px rgba(50,33,26,.47)
	text-align: center
	color: #fff
	font-weight: bold
	font-size: 2.4rem
	background: linear-gradient(to bottom, #75d0fb, #5089be, #4a5d82)
	width: 100%
	max-width: 370px
	margin-right: auto
	margin-left: auto
	border-radius: 25px
	padding: 16px 0 20px
	position: relative
	box-shadow: 0 4px 3px rgba(0,0,0,.5)
	&:before
		content: ''
		position: absolute
		width: 80%
		height: 1px
		background: linear-gradient(to right, #62c2fe, #fff, #62c2fe)
		left: 0
		right: 0
		margin: 0 auto
		top: 2px
	&:hover
		background: linear-gradient(to top, #75d0fb, #5089be, #4a5d82)
		color: #fff
button, button:focus, button:hover, input, .thumbnail, .slick-slide, img, ul, li, a, a:focus, a:hover, div, div:focus textarea, textarea:focus
	outline: none
	text-decoration: none
	color: inherit
.politics
	background-color: #fff
.politics p
	font-size: 18px
	color: #000
.politics_text
	padding: 20px 40px
.politics h3
	background: #1782ab
	font-size: 24px
	color: #fff
	text-transform: uppercase
	text-align: center
	padding: 20px 0
	margin: 0
section
	padding: 8rem 0
	position: relative
	background-position: 50% 0
	background-repeat: no-repeat
section h6
	font-weight: bold
	font-size: 24px

section h4
	line-height: 30px

section h3
	font-weight: bold
	text-align: center
	color: #000
	font-size: 3.6rem
ul
	list-style-type: none
	padding: 0
.thanks_body
	background-image: url(../img/thanks_bg.jpg)
	background-repeat: no-repeat
	background-position-x: center
	margin: 0
	height: 100%
	color: #fff
	display: table
	width: 100%
	text-align: center
.thanks_body h4
	font-size: 36px
	margin-top: 0

.thanks_body p
	font-size: 24px
	margin-bottom: 0
.thanks_page
	display: table-cell
	vertical-align: middle
.footer_logo
	padding-top: 12px

.made_by p 
	margin-bottom: 10px
.copyright p 
	margin-top: 10px
.copyright
	text-align: center
	padding-top: 20px
.made_by
	text-align: right
	padding-top: 20px
.form_wrapper
	margin: auto
	text-align: center
	position: relative
	color: #fff
	border-radius: 10px
	padding: 5rem 0
	background-color: #2d3958
	label.error
		color: red
	h6
		font-weight: bold
		font-size: 3.6rem
		line-height: 3.6rem
		margin-bottom: 2rem
	p
		font-size: 2.4rem
		line-height: 3.6rem
		margin-bottom: 5.5rem
	.form
		width: 100%
		max-width: 370px
		margin: 0 auto
		input
			border: 0
			width: 100%
			-webkit-border-radius: 25px
			-ms-border-radius: 25px
			-moz-border-radius: 25px
			-o-border-radius: 25px
			border-radius: 25px
			margin-top: 5px
			color: #000
			background-color: #fff
			padding: 18px 0
		textarea
			resize: none
			width: 100%
			margin-top: 5px
			border-radius: 30px
			padding-top: 2rem
			height: 13rem
		button
			width: 100%
			margin-top: 5px
		input::-webkit-input-placeholder
			text-align: center
			font: 1.8rem "Exo 2", sans-serif
			color: #000

		input::-moz-placeholder
			text-align: center
			font: 1.8rem "Exo 2", sans-serif
			color: #000

		input:-ms-input-placeholder
			text-align: center
			font: 1.8rem "Exo 2", sans-serif
			color: #000

		input:-moz-placeholder
			text-align: center
			font: 1.8rem "Exo 2", sans-serif
			color: #000

		textarea::-webkit-input-placeholder
			text-align: center
			font: 1.8rem "Exo 2", sans-serif
			color: #000

		textarea::-moz-placeholder
			text-align: center
			font: 1.8rem "Exo 2", sans-serif
			color: #000

		textarea:-ms-input-placeholder
			text-align: center
			font: 1.8rem "Exo 2", sans-serif
			color: #000

		textarea:-moz-placeholder
			text-align: center
			font: 1.8rem "Exo 2", sans-serif
			color: #000
